* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border: 1px solid black;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (min-width: 780px) {
  .navigation {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
  }

  .navigation li {
    background-color: lightslategray;
    padding: .5rem 1rem;
    color: white;
  }

}